* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

p {
  line-height: 1.5;
  font-size: 18px;
  margin: 8px 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.header, .hero-section {
  background-color: #1f2937;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  font-size: 24px;
  font-weight: 1000;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.nav-links a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.hero-section .container {
  padding: 100px 0;
  display: flex;
  gap: 16px;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero-content p {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 8px 32px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
}

img {
  max-width: 100%;
  object-fit: cover;
  /* object-position: 50% 70%; */
}

.info {
  padding: 48px 0 64px;
  text-align: center;
}

.info h2 {
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
  margin-bottom: 48px;
}

ul.info-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}

.info-img {
  border-radius: 15px;
  border: 5px solid #3882f6;
  padding: 1px;
}

.info-text {
  max-width: 200px;
  color: #555;
}

.quote {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  max-width: 90%;
  margin-left: auto;
}

.quote blockquote p {
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  text-align: right;
  margin-right: 32px;
}

.cta {
  background-color: #3882f6;
  padding: 48px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 72px auto;
  width: 100%;
  border-radius: 10px;
  line-height: .5;
}

.cta button {
  border: 2px solid white;
}

.footer {
  background-color: #1f2937;
  color: white;
  height: 100px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}